<h2 class="text-4xl text-yellow-500 w-full my-5 p-3">Checkout</h2>

<div class="flex flex-row w-full gap-2 text-white justify-evenly flex-wrap">
  <section #quotes class="flex flex-col gap-3">
    <h3 class="text-2xl">Ask For a Quote</h3>

    <div class="flex flex-col gap-2">
      @for(item of itemsToAskForQuote(); track $index){
      <app-cart-item
        [cartItem]="item"
        (goToItem)="goToItem($event)"
        (addOne)="addOne($event)"
        (removeOne)="removeOne($event)"
      ></app-cart-item>

      }
    </div>

    <button
      tuiButton
      type="button"
      size="m"
      appearance="primary"
      tuiHintAppearance="onDark"
    >
      Ask For a Quote
    </button>
  </section>
  <section #cart class="flex flex-col gap-3">
    <h3 class="text-2xl">Cart</h3>

    <div class="flex flex-col gap-2">
      @for (item of cartItems(); track $index) {
      <app-cart-item
        [cartItem]="item"
        (goToItem)="goToItem($event)"
        (addOne)="addOne($event)"
        (removeOne)="removeOne($event)"
      ></app-cart-item>
      }
      <hr class="col-span-3" />
      <div class="flex flex-row justify-between">
        <div class="col-span-2 font-semibold">Total</div>
        <div class="font-semibold">{{ totalCart() | currencyCredits }}</div>
      </div>
    </div>

    <button
      tuiButton
      type="button"
      size="m"
      appearance="primary"
      tuiHintAppearance="onDark"
      (click)="placeOrder()"
    >
      Place Order
    </button>
  </section>
</div>

<ng-template
  let-observer
  [tuiDialogOptions]="{ label: 'About you', size: 's' }"
  [(tuiDialog)]="open"
>
  <form
    #quoteForm="ngForm"
    class="flex flex-col gap-2"
    (ngSubmit)="askForQuote(quoteForm.value)"
  >
    <p class="my-2">
      Tell us your name and surname and we will send you the full contract
    </p>
    <tui-input name="name" id="name" ngModel tuiTextfield tuiAutoFocus required>
      Name
    </tui-input>
    <tui-input
      name="surname"
      id="surname"
      ngModel
      tuiTextfield
      tuiAutoFocus
      required
    >
      Surname
    </tui-input>
    <p>
      <button
        tuiButton
        appearance="outline"
        [size]="'m'"
        class="my-3 w-full"
        type="submit"
        [disabled]="!quoteForm.valid"
      >
        Send
      </button>
    </p>
  </form>
</ng-template>
