<div class="flex flex-col gap-2 px-3 mt-16">
  <span class="text-4xl font-extrabold margin-auto text-yellow-400 text-center"
    >STARSHIPS</span
  >
  <div
    class="my-10 grid grid-cols-1 xl:grid-cols-6 lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-2 gap-4 w-full justify-items-center px-4"
  >
    @if(starships() && starships().length > 0){ @for(starship of starships();
    track $index){
    <app-product-card [product]="starship" />
    } }@else { @for(item of skeletonStaships; track $index){

    <section
      tuiCardLarge
      tuiSurface="flat"
      [class.tui-skeleton_light]="true"
      [class.tui-skeleton]="true"
      class="h-72"
    >
      <h2 tuiHeader>
        <span tuiTitle>
          Card
          <span tuiSubtitle>Subtitle</span>
        </span>
      </h2>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </section>
    } }
  </div>

  <tui-pagination
    class="mb-5"
    [index]="0"
    [length]="total()"
    (indexChange)="goToPage($event)"
    tuiMode="onDark"
  ></tui-pagination>
</div>
