<div class="flex card text-white flex-col h-72 w-48 justify-between">
  <section class="flex flex-col px-2" #header>
    <p
      class="p-2 text-base font-semibold text-ellipsis overflow-hidden whitespace-nowrap"
      tuiHintAppearance="onDark"
      [tuiHint]="tooltip"
      tuiHintDirection="top-left"
    >
      {{ product().name }}
    </p>
    <ng-template #tooltip>
      <span class="text-sm"> {{ product().name }}</span>
    </ng-template>
  </section>
  <section class="flex flex-col" #image>
    <img src="{{ productImage() }}" alt="product_image" class="h-32" />
  </section>
  <section class="flex flex-col px-2 gap-1" #info>
    <div class="flex flex-row gap-2">
      <tui-chip
        size="xs"
        appearance="{{ randomStockStatus() | stockStatusAppearance }}"
      >
        <span class="text-white">{{ randomStockStatus() | stockStatus }}</span>
      </tui-chip>
    </div>
    <div>
      @if(product().costInCredits){ Price:
      <strong>{{ product().costInCredits! | currencyCredits }}</strong>
      }@else {
      <button
        tuiButton
        type="button"
        size="xs"
        appearance="accent"
        tuiHintAppearance="onDark"
        [tuiHint]="tooltipQuote"
      >
        {{ "Ask for a quote" }}
      </button>
      <ng-template #tooltipQuote>
        <span class="text-sm"
          >Some items are too expensive and/or the transportation is too complex
          to have a fixed price! <br />
          Contact us and we'll create a quote tailormade for you!</span
        >
      </ng-template>

      }
    </div>
  </section>
  <section class="p-2 w-full" #footer>
    <button
      tuiButton
      appearance="floating"
      type="button"
      size="s"
      class="w-full"
    >
      Details
    </button>
  </section>
</div>
