<div class="w-full flex flex-col gap-2">
  <section class="flex flex-col align-center content-center items-center">
    <img class="w-6/12" src="http://imageshack.com/a/img922/3783/oyvsRd.png" />
    <span class="text-xl text-yellow-400 z-10 -mt-4">SHOP</span>
  </section>

  <article class="my-3">
    <div>
      @if(vehiclesCarousel() && vehiclesCarousel()!.length > 0){ }
      <tui-carousel
        [duration]="4000"
        [(index)]="carouselCurrentIndex"
        [itemsCount]="3"
        [draggable]="true"
      >
        @for( vehicle of vehiclesCarousel(); track vehicle.objectId){
        <ng-container>
          <app-product-card
            class="m-auto"
            *tuiItem
            draggable="false"
            [product]="vehicle"
          ></app-product-card> </ng-container
        >}</tui-carousel
      >
    </div>
  </article>
</div>
