<div class="w-full flex flex-col gap-2">
  <section class="flex flex-col align-center content-center items-center mb-10">
    <img class="w-6/12" src="http://imageshack.com/a/img922/3783/oyvsRd.png" />
    <span class="text-4xl font-extrabold text-yellow-400">SHOP</span>
  </section>

  <article class="my-10 flex flex-col gap-11">
    <app-banner></app-banner>

    <div class="flex flex-col gap-2">
      <h2 class="text-2xl text-white m-auto font-semibold my-2">Vehicles</h2>
      @if(vehiclesCarousel() && vehiclesCarousel()!.length > 0){ }
      <tui-carousel
        [duration]="4000"
        [(index)]="carouselVehicleCurrentIndex"
        [itemsCount]="itemsToShow()"
        [draggable]="true"
      >
        @for( vehicle of vehiclesCarousel(); track vehicle.objectId){
        <ng-container>
          <app-product-card
            class="m-auto"
            *tuiItem
            draggable="false"
            [product]="vehicle"
          ></app-product-card> </ng-container
        >}</tui-carousel
      >
    </div>

    <div class="flex flex-col gap-2">
      <h2 class="text-2xl text-white m-auto font-semibold my-2">Starships</h2>
      @if(vehiclesCarousel() && vehiclesCarousel()!.length > 0){ }
      <tui-carousel
        [duration]="3500"
        [(index)]="carouselStarshipCurrentIndex"
        [itemsCount]="itemsToShow()"
        [draggable]="true"
      >
        @for( starship of starshipCarousel(); track starship.objectId){
        <ng-container>
          <app-product-card
            class="m-auto"
            *tuiItem
            draggable="false"
            [product]="starship"
          ></app-product-card> </ng-container
        >}</tui-carousel
      >
    </div>
  </article>
</div>
