<div class="w-full flex flex-row h-12 bg-slate-400 justify-between fixed z-10">
  <div class="flex flex-row gap-3 justify-between w-full">
    <div class="flex flex-row">
      @for (item of items; track $index) {
      <a
        [routerLink]="[item.url]"
        class="p-2 px-5 flex items-center align-center hover:bg-white transition-colors duration-500 ease-out hover:font-semibold"
      >
        {{ item.title }}
      </a>
      }
    </div>

    <a
      [routerLink]="['/cart']"
      class="p-2 px-4 flex items-center align-center hover:bg-white transition-colors duration-500 ease-out hover:font-semibold"
    >
      Cart
      <tui-svg src="tuiIconShoppingCart"></tui-svg>
    </a>
  </div>
</div>
