<div class="w-full flex flex-row h-12 bg-slate-400 justify-between fixed z-10">
  <div class="flex flex-row gap-3 justify-between w-full">
    <div class="hidden md:flex flex-row">
      @for (item of items; track $index) {
      <a
        [routerLink]="[item.url]"
        class="p-2 px-5 flex items-center align-center hover:bg-white transition-colors duration-500 ease-out hover:font-semibold"
        [routerLinkActive]="'text-bakc bg-white font-semibold'"
      >
        {{ item.title }}
      </a>
      }
    </div>
    <div
      class="flex md:hidden my-auto mx-2 cursor-pointer"
      (click)="toggleSidebar()"
      (tuiActiveZoneChange)="toggleSidebar()"
    >
      <tui-svg src="tuiIconMenuLarge"></tui-svg>
    </div>
    <div *tuiSidebar="openSidebar; direction: 'left'">AAA</div>

    <a
      [routerLink]="['/cart']"
      class="p-2 px-4 flex items-center align-center hover:bg-white transition-colors duration-500 ease-out hover:font-semibold"
    >
      Cart
      <tui-badge
        class="m-2"
        status="primary"
        [value]="numberInCart()"
      ></tui-badge>
      <tui-svg src="tuiIconShoppingCart"></tui-svg>
    </a>
  </div>
</div>
