<div class="text-white p-4">
  <h1 class="text-4xl text-yellow-500 font-semibold my-5">Past Orders</h1>
  @if (queryPastOrders.isPending()) { Loading... } @if (queryPastOrders.error())
  { An error has occurred: {{ queryPastOrders.error()?.message }}
  } @if (queryPastOrders.data(); as data) { @for (item of data ?? []; track
  $index) {

  <div class="my-8">
    <div
      class="grid grid-cols-3 my-3 w-full md:w-1/2 items-center md:m-auto border-2 card"
    >
      <h2 class="col-span-3 px-2 text-xl font-semibold">
        {{ item.date | date : "dd/MM/yyyy" }}
      </h2>
      @for(cartItem of item.items; track $index;let odd = $odd, even = $even){
      <div
        [class.bg-slate-600]="odd"
        [class.bg-teal-200]="even"
        [class.text-black]="even"
        class="h-full flex items-center text-center content-center"
      >
        <tui-svg src="tuiIconAperture"></tui-svg> {{ cartItem.name }}
      </div>
      <div
        [class.bg-slate-600]="odd"
        [class.bg-teal-200]="even"
        [class.text-black]="even"
        class="h-full flex items-center text-center justify-center"
      >
        {{ cartItem.qty }}
      </div>
      <div
        [class.bg-slate-600]="odd"
        [class.bg-teal-200]="even"
        [class.text-black]="even"
        class="h-full flex items-center text-center content-center"
      >
        {{ cartItem.qty * cartItem.costInCredits! | currencyCredits }}
      </div>

      }
      <span class="px-3 h-full col-span-2 bg-yellow-500 text-black">Total</span>
      <h2 class="px-3 h-full text-lg font-semibold bg-yellow-500 text-black">
        {{ item.total | currencyCredits }}
      </h2>
    </div>
  </div>

  } }
</div>
